html,
body {
  background: black;
  color: #00b800;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: "press Start 2p", cursive;
  text-align: center;
}

.secondry-color {
  color: #58c3ee;
}

.tertiary-color {
  color: #ed793c;
}

body {
  font-weight: 400;
}
.App {
  width: 50%;
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
}

main {
  margin-top: 50px;
}

button {
  font-family: "press Start 2p", cursive;
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

h1,
h3,
h5 {
  text-align: center;
}
h1 {
  font-size: 20px;
  margin: 15px;
}
h3 {
  font-size: 16px;
  margin: 8px;
}
h5 {
  font-size: 12px;
  margin: 4px;
}

textarea {
  font-family: "Press Start 2P", cursive;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #00b800;
  padding: 10px;
}
textarea:disabled {
  background-color: #a5a2a2;
}
